<%- include('../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>মাঠ দিবস ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/upazilla/fieldDayFormPost" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                        
                                    <div class="form-group">
                                        <label for="date" class="col-md-3 control-label">মাঠ দিবস অনুষ্ঠানের তারিখ</label>
                                        <div class="col-md-9">
                                            <input type="date" class="form-control" name="date" placeholder="মাঠ দিবস অনুষ্ঠানের তারিখ">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="present" class="col-md-3 control-label">উপস্থিতি</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="present" placeholder="উপস্থিতি">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="male" class="col-md-3 control-label">পুরুষ উপস্থিতির সংখ্যা</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="male" placeholder="পুরুষ উপস্থিতির সংখ্যা">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="female" class="col-md-3 control-label">মহিলা উপস্থিতির সংখ্যা</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="female" placeholder="মহিলা উপস্থিতির সংখ্যা">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="resource" class="col-md-3 control-label">রিসোর্স ব্যক্তির নাম</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="resource" placeholder="রিসোর্স ব্যক্তির নাম">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="resourceDetails" class="col-md-3 control-label">রিসোর্স ব্যক্তির পরিচয়</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="resourceDetails" placeholder="রিসোর্স ব্যক্তির পরিচয়">
                                        </div>
                                    </div>

                                    

                                    <div class="form-group">
                                        <div class="col-md-9">
                                            <label for="year">বছর :</label>
                                        <select id="year" name="year" required>
                                            <option value="2017">২০১৭-১৮</option>
                                            <option value="2018">২০১৮-১৯</option>
                                            <option value="2019">২০১৯-২০</option>
                                            <option value="2020">২০২০-২১</option>
                                            <option value="2021">২০২১-২২</option>
                                            <option value="2022">২০২২-২৩</option>
                                        </select>
                                        </div>
                                    </div>
                                    
                                            <input type="hidden" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>">
                                        
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../includes/footer')-%>