<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>প্রোগ্রামের তারিখ</th>
        <th>নাম</th>
        <th>ভ্রমণকৃত স্থানের নাম</th>
        <th>পরিদর্শনের বিবরণ</th>
        <th>মুছুন</th>

    </tr>
    </thead>
    <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td><%= row.date %></td>
                <td><%= row.name %></td>
                <td><%= row.place %></td>
                <td><%= row.details %></td>
                <td><a class="btn btn-primary btn-xs" href="/upazilla/motivationEdit/<%= row.id %>"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-xs" href="/upazilla/motivationDelete/<%= row.id %>"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>প্রোগ্রামের তারিখ</th>
        <th>নাম</th>
        <th>ভ্রমণকৃত স্থানের নাম</th>
        <th>পরিদর্শনের বিবরণ</th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>