<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>কৃষকের নাম</th>
        <th>পিতার নাম</th>
        <th>মোবাইল নং</th>
        <th>জাতীয় পরিচয়পত্র নং</th>
        <th>গ্রাম</th>
        <th>ব্লক</th>
        <th>ইউনিয়ন</th>
        <th>ফসলের নাম</th>
        <th>জাত</th>
        <th>এসএএও'র নাম এবং মোবাইল নং</th>
      
    </tr>
    </thead>
    <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td><%= row.name %></td>
                <td><%= row.fname %></td>
                <td><%= row.mnum %></td>
                <td><%= row.nid %></td>
                <td><%= row.village %></td>
                <td><%= row.block %></td>
                <td><%= row.union %></td>
                <td><%= row.cname %></td>
                <td><%= row.breed %></td>
                <td><%= row.saao %></td>
                
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>কৃষকের নাম</th>
            <th>পিতার নাম</th>
            <th>মোবাইল নং</th>
            <th>জাতীয় পরিচয়পত্র নং</th>
            <th>গ্রাম</th>
            <th>ব্লক</th>
            <th>ইউনিয়ন</th>
            <th>ফসলের নাম</th>
            <th>জাত</th>
            <th>এসএএও'র নাম এবং মোবাইল নং</th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>